In [1]:
# imporrttamos las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import init_notebook_mode, iplot, plot

In [2]:
# leemos el dataset que vamos a analizar
dataset = pd.read_csv('EDA_Terrorism.csv', low_memory=False, encoding="ISO-8859-1")
raw_dataset = pd.DataFrame(dataset)
raw_dataset.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [3]:
# comprobamos los nombres de las columnas y cuantas hay para el dataset sin tratar
print(raw_dataset.columns)
print(len(raw_dataset.columns))

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)
135

In [4]:
# cambiamos los nombres de las columnas a nombres mas fÃ¡ciles de tratar
raw_dataset = raw_dataset.rename(columns={'eventid': 'id',
                                          'iyear': 'year',
                                          'imonth': 'month',
                                          'iday': 'day',
                                          'extended':'extended_date',
                                          'country': 'country_code',
                                          'country_txt': 'country',
                                          'region':'region_code',
                                          'region_txt': 'region',
                                          'provstate': 'state',
                                          'attacktype1': 'attack_type_code',
                                          'attacktype1_txt': 'attack_type',
                                          'targtype1': 'target_type_code',
                                          'targtype1_txt': 'target_type',
                                          'targsubtype1': 'targ_subtype_code',
                                          'targsubtype1_txt': 'targ_subtype',
                                          'natlty1': 'targ_natlty_code',
                                          'natlty1_txt': 'targ_natlty',
                                          'gname': 'gang',
                                          'weaptype1': 'weap_type_code',
                                          'weaptype1_txt': 'weap_type',
                                          'weapsubtype1': 'weap_subtype_code',
                                          'weapsubtype1_txt': 'weap_subtype',
                                          'nkill': 'n_deaths',
                                          'nwound': 'n_wounded'})

raw_dataset.head()

,id,year,month,day,approxdate,extended_date,resolution,country_code,country,region_code,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
# creamos un dataset nuevo solo con las columnas que nos interesen para el tratamiento de los datos
clean_dataset = raw_dataset[['year', 'month', 'day', 'country_code', 'country', 'region_code', 'region', 'state',
                             'city', 'latitude', 'longitude', 'success', 'suicide', 'attack_type_code', 'attack_type', 'target_type_code',
                             'target_type', 'targ_subtype_code', 'targ_subtype', 'targ_natlty_code', 'targ_natlty', 'gang',
                             'weap_type_code', 'weap_type', 'weap_subtype_code', 'weap_subtype', 'n_deaths', 'n_wounded']]
clean_dataset.head()

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,targ_subtype,targ_natlty_code,targ_natlty,gang,weap_type_code,weap_type,weap_subtype_code,weap_subtype,n_deaths,n_wounded
0,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,...,Named Civilian,58.0,Dominican Republic,MANO-D,13,Unknown,NaN,NaN,1.0,0.0
1,1970,0,0,130,Mexico,1,North America,Federal,Mexico city,19.371887,...,"Diplomatic Personnel (outside of embassy, cons...",21.0,Belgium,23rd of September Communist League,13,Unknown,NaN,NaN,0.0,0.0
2,1970,1,0,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,...,Radio Journalist/Staff/Facility,217.0,United States,Unknown,13,Unknown,NaN,NaN,1.0,0.0
3,1970,1,0,78,Greece,8,Western Europe,Attica,Athens,37.997490,...,Embassy/Consulate,217.0,United States,Unknown,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN
4,1970,1,0,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,...,Embassy/Consulate,217.0,United States,Unknown,8,Incendiary,NaN,NaN,NaN,NaN

In [6]:
# echamos un vistazo a los tipos de datos con los que trabajamos
clean_dataset.dtypes

year                   int64
month                  int64
day                    int64
country_code           int64
country               object
region_code            int64
region                object
state                 object
city                  object
latitude             float64
longitude            float64
success                int64
suicide                int64
attack_type_code       int64
attack_type           object
target_type_code       int64
target_type           object
targ_subtype_code    float64
targ_subtype          object
targ_natlty_code     float64
targ_natlty           object
gang                  object
weap_type_code         int64
weap_type             object
weap_subtype_code    float64
weap_subtype          object
n_deaths             float64
n_wounded            float64
dtype: object

In [7]:
# rellenamos valores missing con 0 y 'unknown'
clean_dataset['targ_subtype_code'] = clean_dataset['targ_subtype_code'].fillna(0)
clean_dataset['targ_subtype'] = clean_dataset['targ_subtype'].fillna('Unknown')
clean_dataset['targ_natlty_code'] = clean_dataset['targ_natlty_code'].fillna(0)
clean_dataset['targ_natlty'] = clean_dataset['targ_natlty'].fillna('Unknown')
clean_dataset['gang'] = clean_dataset['gang'].fillna('Unknown')
clean_dataset['weap_subtype_code'] = clean_dataset['weap_subtype_code'].fillna(0)
clean_dataset['weap_subtype'] = clean_dataset['weap_subtype'].fillna('Unknown')
clean_dataset['city'] = clean_dataset['city'].fillna('Unknown')
clean_dataset['n_deaths'] = clean_dataset['n_deaths'].fillna(0)
clean_dataset['n_wounded'] = clean_dataset['n_wounded'].fillna(0)

#clean_dataset.info()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# aqui cambiamos los floats a integers para los valores numericos que no tengan sentido con decimales
clean_dataset['targ_subtype_code'] = clean_dataset['targ_subtype_code'].astype(int)
clean_dataset['targ_natlty_code'] = clean_dataset['targ_natlty_code'].astype(int)
clean_dataset['weap_subtype_code'] = clean_dataset['weap_subtype_code'].astype(int)
clean_dataset['n_deaths'] = clean_dataset['n_deaths'].astype(int)
clean_dataset['n_wounded'] = clean_dataset['n_wounded'].astype(int)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
# tiramos los registros duplicados
clean_dataset.drop_duplicates(inplace=True)
clean_dataset.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,targ_subtype,targ_natlty_code,targ_natlty,gang,weap_type_code,weap_type,weap_subtype_code,weap_subtype,n_deaths,n_wounded
0,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,...,Named Civilian,58,Dominican Republic,MANO-D,13,Unknown,0,Unknown,1,0
1,1970,0,0,130,Mexico,1,North America,Federal,Mexico city,19.371887,...,"Diplomatic Personnel (outside of embassy, cons...",21,Belgium,23rd of September Communist League,13,Unknown,0,Unknown,0,0
2,1970,1,0,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,...,Radio Journalist/Staff/Facility,217,United States,Unknown,13,Unknown,0,Unknown,1,0
3,1970,1,0,78,Greece,8,Western Europe,Attica,Athens,37.997490,...,Embassy/Consulate,217,United States,Unknown,6,Explosives,16,Unknown Explosive Type,0,0
4,1970,1,0,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,...,Embassy/Consulate,217,United States,Unknown,8,Incendiary,0,Unknown,0,0

In [10]:
'''en este paso refinamos la comprobacion de los duplicados con una combinacion de variables concretas. 
Este paso es necesario porque en ocasiones se han registrado los mismos atentados mas de una vez
con una diferencia en solo una o dos columnas, lo que hace que se contabilicen (en el caso de haberlas) mas victimas
o mas atentados ejecutados por los mismos atacantes, asi como un recuento mayor en ataques por ciudad, pais o region.'''

clean_dataset[clean_dataset.duplicated(subset=['year','day','month','latitude','longitude', 'gang','target_type', 'region', 'country', 'targ_natlty', 'n_deaths', 'n_wounded'])]

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,targ_subtype,targ_natlty_code,targ_natlty,gang,weap_type_code,weap_type,weap_subtype_code,weap_subtype,n_deaths,n_wounded
56,1970,2,8,217,United States,1,North America,New York,New York City,40.697132,...,Multinational Corporation,217,United States,Armed Revolutionary Independence Movement (MIRA),6,Explosives,31,Pipe Bomb,0,0
114,1970,3,6,217,United States,1,North America,Michigan,Detroit,42.331685,...,Police Security Forces/Officers,217,United States,"Weather Underground, Weathermen",6,Explosives,28,Dynamite/TNT,0,0
126,1970,3,12,217,United States,1,North America,New York,New York City,40.697132,...,Multinational Corporation,217,United States,Revolutionary Force 9,6,Explosives,16,Unknown Explosive Type,0,0
128,1970,3,12,217,United States,1,North America,Illinois,Chicago,41.842602,...,Police Patrol (including vehicles and convoys),217,United States,Black Nationalists,6,Explosives,11,"Projectile (rockets, mortars, RPGs, etc.)",0,0
129,1970,3,12,217,United States,1,North America,New York,New York City,40.697132,...,Gas/Oil/Electric,217,United States,Revolutionary Force 9,6,Explosives,16,Unknown Explosive Type,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180638,2017,11,20,147,Nigeria,11,Sub-Saharan Africa,Adamawa,Ketowal,9.447860,...,Race/Ethnicity Identified,147,Nigeria,Bachama extremists,8,Incendiary,18,Arson/Fire,7,0
180877,2017,11,28,123,Mali,11,Sub-Saharan Africa,Kidal,Kidal,18.442701,...,"International Organization (peacekeeper, aid a...",422,International,Jamaat Nusrat al-Islam wal Muslimin (JNIM),5,Firearms,5,Unknown Gun Type,0,0
181031,2017,12,4,95,Iraq,10,Middle East & North Africa,Babil,Mahasinah,33.117361,...,Unknown,95,Iraq,Unknown,6,Explosives,16,Unknown Explosive Type,0,0
181048,2017,12,4,104,Kenya,11,Sub-Saharan Africa,Bungoma,Kutere,1.126982,...,Village/City/Town/Suburb,104,Kenya,Sabaot Land Defense Force (SLDF),5,Firearms,5,Unknown Gun Type,4,0
181587,2017,12,27,92,India,6,South Asia,Chhattisgarh,Basaguda,18.561113,...,Unknown,92,India,Unknown,6,Explosives,16,Unknown Explosive Type,0,0

In [11]:
# en este paso eliminamos los duplicados devueltos por el codigo de la celda anterior (2335 registros)
clean_dataset.drop_duplicates(subset=['year','day','month','latitude','longitude', 'gang','target_type', 'region', 'country', 'targ_natlty', 'n_deaths', 'n_wounded'], keep='first', inplace=True)
clean_dataset.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,targ_subtype,targ_natlty_code,targ_natlty,gang,weap_type_code,weap_type,weap_subtype_code,weap_subtype,n_deaths,n_wounded
0,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,...,Named Civilian,58,Dominican Republic,MANO-D,13,Unknown,0,Unknown,1,0
1,1970,0,0,130,Mexico,1,North America,Federal,Mexico city,19.371887,...,"Diplomatic Personnel (outside of embassy, cons...",21,Belgium,23rd of September Communist League,13,Unknown,0,Unknown,0,0
2,1970,1,0,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,...,Radio Journalist/Staff/Facility,217,United States,Unknown,13,Unknown,0,Unknown,1,0
3,1970,1,0,78,Greece,8,Western Europe,Attica,Athens,37.997490,...,Embassy/Consulate,217,United States,Unknown,6,Explosives,16,Unknown Explosive Type,0,0
4,1970,1,0,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,...,Embassy/Consulate,217,United States,Unknown,8,Incendiary,0,Unknown,0,0

In [12]:
# eliminamos registros donde el mes *Y* el dia sean 0 (desconocido)
clean_dataset = clean_dataset[(clean_dataset['day']==0) & (clean_dataset['month'] ==0) == False]

In [13]:
# clean_dataset.info()

In [14]:
clean_dataset.describe()

,year,month,day,country_code,region_code,latitude,longitude,success,suicide,attack_type_code,target_type_code,targ_subtype_code,targ_natlty_code,weap_type_code,weap_subtype_code,n_deaths,n_wounded
count,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,163211.000000,1.632100e+05,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000,167095.000000
mean,2003.161698,6.471450,15.527562,132.676100,7.244292,23.873143,-4.980190e+02,0.889213,0.038912,3.222269,8.281756,43.877226,127.595901,6.427170,9.704306,2.419659,3.083803
std,13.133519,3.391522,8.812041,113.010825,2.897094,18.164673,2.133354e+05,0.313869,0.193386,1.917308,6.511365,31.188021,91.004703,2.190489,7.025945,11.656027,35.747227
min,1970.000000,1.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,83.000000,6.000000,11.840929,8.168928e+00,1.000000,0.000000,2.000000,3.000000,21.000000,87.000000,5.000000,4.000000,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,103.000000,8.000000,31.530243,4.366838e+01,1.000000,0.000000,3.000000,4.000000,34.000000,101.000000,6.000000,8.000000,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,160.000000,10.000000,34.621521,6.909978e+01,1.000000,0.000000,3.000000,14.000000,71.000000,175.000000,6.000000,16.000000,2.000000,2.000000
max,2017.000000,12.000000,31.000000,1004.000000,12.000000,74.633553,1.793667e+02,1.000000,1.000000,9.000000,22.000000,113.000000,1004.000000,13.000000,31.000000,1570.000000,8191.000000

In [15]:
# aqui volvemos a eliminar duplicados en los que solo el numero de victimas variaba
clean_dataset.drop_duplicates(subset=['year', 'day', 'month', 'latitude', 'longitude', 'country', 'city', 'gang', 'target_type', 'attack_type', 'weap_type'], keep='first', inplace=True)
clean_dataset.head()

,year,month,day,country_code,country,region_code,region,state,city,latitude,...,targ_subtype,targ_natlty_code,targ_natlty,gang,weap_type_code,weap_type,weap_subtype_code,weap_subtype,n_deaths,n_wounded
0,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,...,Named Civilian,58,Dominican Republic,MANO-D,13,Unknown,0,Unknown,1,0
2,1970,1,0,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,...,Radio Journalist/Staff/Facility,217,United States,Unknown,13,Unknown,0,Unknown,1,0
3,1970,1,0,78,Greece,8,Western Europe,Attica,Athens,37.997490,...,Embassy/Consulate,217,United States,Unknown,6,Explosives,16,Unknown Explosive Type,0,0
4,1970,1,0,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,...,Embassy/Consulate,217,United States,Unknown,8,Incendiary,0,Unknown,0,0
5,1970,1,1,217,United States,1,North America,Illinois,Cairo,37.005105,...,"Police Building (headquarters, station, school)",217,United States,Black Nationalists,5,Firearms,5,Unknown Gun Type,0,0

In [16]:
# guardamos la ultima version con los ultimos cambios en un documento .csv para el facil acceso/copia de seguridad
clean_dataset.to_csv('CleanTerrorismoEda.csv')